<html>
    <head>
        <title>Leslie's BLog</title>
    </head>
    <body>
        <div>
            <h1>IMPORTANT</h1>
            <p>I will be talking about my dog.</p>
        </div>

        <div>
            <h2>#1: She has a big head.</h2>
            <p>Nothing bad.<br />Just something to put out there.</p>
        </div>

        <div>
            <h2>#2: She's kinda dumb.</h2>
            <p>Again, nothing bad.<br />It's her best quality.</p>
        </div>

        <div>
          <h2>#3:She knows how to make you feel guilty.</h2>
          <p>And she will make you give her food.<br/>Even though she knows she can't eat it.</p>
    </body>
</html>
